.panel {
    color:#ccc;
}


nav {
    height:15px;
}

table {
display:none;
}


<<<<<<< HEAD
.fontdiv{
    font-family: Arial, Helvetica, sans-serif
}


.div {
    color:red;
}
=======
div {
color:green;
}
>>>>>>> c42611a75876ab7b6bc2e377b39c99b6077442ae
